body{font-family: 'Arial, Helvetica, sans-serif';font-size: 14px;margin:5px;}
/**{margin: 0; padding: 0;}*/
.blue{background-color: #0099CC; color:#fff !important;}
.green{background-color: #00C851; color:#fff !important;}
.teal{background-color: #2BBBAD; color:#fff !important;}
.red{background-color: #ff4444; color:#fff !important;}
.yellow{background-color: #ffbb33; color:#fff !important;}
.silver{background-color: #4B515D; color:#fff !important;}
.grey{background-color: #37474F; color:#fff !important;}
.wrapper{display: block; width:100%;bottom:0;left: 0;background-color: #fff;}
.conent{overflow: auto;padding:0;}
.square{float: left;width: 45.5%;align-self:center;margin: 0.2%;height: 63px;text-align: center;color: #fff;text-decoration: none;padding:5px;overflow: hidden;z-index: 0;white-space:normal;word-wrap: break-word;border:none;}
.form-control{border: 1px solid #ced4da; background-color: #fff;width: 100%;padding: 2px;}
.actionBtn{width:32%;height:44px; padding:0; line-height:40px;}
.text-red{color:#dc3545;}
.text-description{font-size:12px; font-style: italic; color:#3a3a3a;}
/* Lista almacen */
#navigation{display: block; width:95%;}
.list-item{display: block;width: 100%;margin: 0.2%;min-height: 34px;text-align: center;color: #111;overflow: hidden;z-index: 0;word-wrap: break-word;border:1px solid #f4f4f4;text-decoration: none;font-size: 14px;font-family: 'Arial, Helvetica, sans-serif';line-height: 30px;background-color: #007bff;color:#fff;}
.list-item:active{background-color:#ccc;line-height: 30px;}
.loadingData {position: absolute;z-index: 999;background: #000;top: 0;left: 0;}
.text-white {color: #fff!important;}
.text-center {text-align: center!important;}
.h-100 {height: 100%!important;}
.align-middle {vertical-align: middle!important;}
.border-done{border:1px solid rgb(56, 116, 56);}
.text-done{color:rgb(56, 116, 56);}
.is-icon{
    border:none;
    width:20px;
    height:20px;
    border-radius: 4px;
}
#skuTable tr td, #skuTable tr th,{
    border-bottom:1px solid #dbdbdb;
}
.thead{
    font-size: 10px;
}
.table-columns {
    width: 100%;
    border-collapse: collapse;
}
.table-columns .column {
    text-align: right;
    width: 50%;
}
.table-columns .column.right {
    text-align: right;
    padding-right: 10px;
}
.table-columns .column.left {
    text-align: left;
    padding-left: 10px;
}
.table-columns .column.center{
    text-align: center;
    padding-left: 5px;
    padding-right:5px;
}
.table-columns .form-control {
    width: 95%;
    padding: 2px;
}
.table-columns ul {
    list-style: none;
}
.table-columns .placeholder {
    color: #aaa;
}
.table-columns .readonly {
    border: 0px;
}
.display-none{
    display: none;
}
.display-block{
    display: block !important;
}
.table-equal {
    width: 100%;
    border-collapse: collapse;
}
.margin-top {
    margin-top: 5px;
}
.success-message {
    padding: 5px;
    background: #a7d2ff;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
/*button.square:active{background-color:#ccc;}*/
