/*Logo animation*/
object {
        -webkit-transition: -webkit-transform ease-in-out 0.3s, background 0.2s;
        -moz-transition: -moz-transform ease-in-out 0.3s, background 0.2s;
        transition: transform ease-in-out 0.3s, background 0.2s;
}
object:hover {
        -webkit-transform: scale(0.90);
        -moz-transform: scale(0.90);
        -ms-transform: scale(0.90);
        transform: scale(0.90);
}
/*Nav*/
.side-nav{
  height: 100%;
}
.side-nav li.active {
    background-color: rgba(0,0,0,0.2);
}
.background > img{
  height: 300px;
}
.logo-enterprise > img{
  width: 35px;
}
/*Ésta linea de código sirve para cuando queremos mostrar el ícono (propuesta 1)*/
.nav-wrapper a.button-collapse{
  display:inline;
}
/*Código para mover el contenido en caso de que sea la 2da propuesta*/
header, main, footer {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
header, main, footer {
  padding-left: 0;
  }
}
/*Notifications dropdown*/
.noti-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Width del componente */
  max-height: auto;
  margin-left: -1px; /* Esto sirve para mantener el contenido alineado al ícono */
  overflow: hidden; /* Podría usarse overflow-y:auto; en caso de mostrar mas contenido */
  opacity: 0;
  position: absolute;
  will-change: width, height;
  z-index: 99;
  color: rgba(0,0,0,0.87);
}
.noti-content li.danger{
  border-left: 4px solid #f44336;
}
.noti-content li.info{
  border-left: 4px solid #2196f3;
}
.noti-content li.success{
  border-left: 4px solid #4caf50;
}
.dropdown-content li > a, .dropdown-content li > span{
  color: rgba(0,0,0,0.87);
}
.dt-buttons{
  float: right !important;
}
/*Estilo adicional para separar contenido en el form*/
.internSection{
  padding: 15px;
  border: solid 1px rgba(51,51,51,0.12);
  background: #e3f2fd;
}
#userProfileContainer .card-image > img{
  height: 300px;
}
.parent_checkbox{
  color:rgba(0,0,0,0.87);
}
/*Estílos de la tabla*/
.btn_tables{
  padding:0 10px !important;
}
td, th {
    padding: 5px 5px;
}
.link_edit{
  text-decoration: underline;
  color: rgba(0,0,0,0.87);
}
.form-separator{
  padding: 10px;
  border: solid 1px rgba(51,51,51,0.12);
  background: #fff;
}
/*Estílo facturas*/
.facturas-line h5{
  display: inline;
}
.facturas-line span{
  margin-left: 8px;
  font-size: 12px;
  color: #616161;
}
/*Google maps styling*/
#map {
  min-height: 300px;
  min-width: 500px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  margin-top: 10px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
/* cards windows style*/
.card-window {
  font-size:24px;
  display:inline;
}
/*loading page*/
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
}
.progress{
  z-index: 999;
}
/*Tabs personalizadas*/
.style-tabs.tabs{
  background: #009688 !important;
  border-radius: 10px !important;
}
.style-tabs a {
 color:rgba(255,255,255,0.7) !important;
}
.style-tabs a:hover,.style-tabs a.active {
 background-color:transparent !important;
 color:#fff !important;
}
.style-tabs .tab.disabled a,.style-tabs .tab.disabled a:hover {
 color:rgba(255,255,255,0.7) !important;
 cursor:default !important;
}
.style-tabs > .indicator {
 position:absolute !important;
 bottom:0 !important;
 height:3px !important;
 background-color:#fff !important;
}
/*Contenedores imágenes*/
.ej_excel{
  max-width: 350px;
}
/*Notifications numbers*/
.badge-num {
  box-sizing: border-box;
  background: #ff0000;
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  height: 25px;
  line-height: 1.5em;
  top:4px;
  right:4px;
  position: absolute;
  text-align: center;
  width: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  animation: pulse 1.5s 1;
}
.badge-num:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgba(255, 0, 0, .5);
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s 1;
}
@keyframes sonar {
  0% {
    transform: scale(.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(.9);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*Estílos de mensajes*/
.m_error{
background: #f44336;
color: white;
}
.m_success{
background: #4caf50;
color: white;
}