<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Agregar usuario</h1>
      <div class="col-md-12 text-right">
        <a id="saveAll" class="btn btn-primary" href="#">Guardar</a>
        <a class="btn" href="#">Cerrar</a>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <table id="prodStorage" class="table table-hover table-responsive table-striped">
            <thead>
              <tr>
                <th>Código de barras</th>
                <th>Nombre comercial</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>No. Lote</th>
                <th>Caducidad</th>
                <th>Observación</th>
                <th>Marbete</th>
                <th>Almacén</th>
                <th>Ubicación</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">7502227422854</th>
                <td>Paracetamol</td>
                <td>
                  <a href="#" data-toggle="popover" title="Descripción" data-content="The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.">
                    Ver
                  </a>
                </td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><textarea class="form-control" rows="1"></textarea></td>
                <td><input type="number" class="form-control"></td>
                <td>
                  <a href="#" class="badge badge-pill badge-primary p-3">[Almacén]</a>
                </td>
                <td>
                  <div class="form-group">
                    <select class="form-control">
                      <option>Seleccione...</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                    </select>
                  </div>
                </td>
                <td>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
              <tr>
                <th scope="row">7502227422854</th>
                <td>Paracetamol</td>
                <td>
                  <a href="#" data-toggle="popover" title="Descripción" data-content="The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.">
                    Ver
                  </a>
                </td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><textarea class="form-control" rows="1"></textarea></td>
                <td><input type="number" class="form-control"></td>
                <td>
                  <a href="#" class="badge badge-pill badge-primary p-3">[Almacén]</a>
                </td>
                <td>
                  <div class="form-group">
                    <select class="form-control">
                      <option>Seleccione...</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                    </select>
                  </div>
                </td>
                <td>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
              <tr>
                <th scope="row">7502227422854</th>
                <td>Paracetamol</td>
                <td>
                  <a href="#" data-toggle="popover" title="Descripción" data-content="The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.">
                    Ver
                  </a>
                </td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><textarea class="form-control" rows="1"></textarea></td>
                <td><input type="number" class="form-control"></td>
                <td>
                  <a href="#" class="badge badge-pill badge-primary p-3">[Almacén]</a>
                </td>
                <td>
                  <div class="form-group">
                    <select class="form-control">
                      <option>Seleccione...</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                    </select>
                  </div>
                </td>
                <td>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
              <tr>
                <th scope="row">7502227422854</th>
                <td>Paracetamol</td>
                <td>
                  <a href="#" data-toggle="popover" title="Descripción" data-content="The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.">
                    Ver
                  </a>
                </td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><textarea class="form-control" rows="1"></textarea></td>
                <td><input type="number" class="form-control"></td>
                <td>
                  <a href="#" class="badge badge-pill badge-primary p-3">[Almacén]</a>
                </td>
                <td>
                  <div class="form-group">
                    <select class="form-control">
                      <option>Seleccione...</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                      <option>[Ubicación]</option>
                    </select>
                  </div>
                </td>
                <td>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/container-fluid-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
      //iniciamos tooltips
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
        //Función para hacer el ícono rotar
        $('.rowCollapsible').click(function(){
          $arrow = $(this).find('i');
          if($arrow.hasClass('rotate2')){
            $arrow.toggleClass('rotate1');
          }
          else{
            $arrow.toggleClass('rotate2');
          }
        });
      });
    </script>
  </body>
</html>